<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 先把你的mdb数据库文件放到本程序exe所在的文件夹下，然后把下面一行的“数据库.mdb”文字换成你自己的Access数据库文件名，其他地方不能改-->
		<add name="Default" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=数据库.mdb"/>
	</connectionStrings>
	<appSettings>
		<!--下面是和Access数据库有关的设置-->
		<!--表名称-->
		<add key="TableName" value="Sheet1"/>
		<!--ID列的名称-->
		<add key="IdColumn" value="ID"/>
		<!--从哪个列翻译-->
		<add key="FromColumn" value="EN"/>
		<!--翻译结果存放在哪个列-->
		<add key="ToColumn" value="CN"/>

		<!--下面是和Microsoft Translate API有关的设置-->
		<!--ClientId和ClientSecret是用来访问翻译服务的凭证（可以理解为用户名/密码），免费额度下每个月可以翻译200万个单词-->
		<!--可以自己免费申请Id和Secret https://msdn.microsoft.com/en-us/library/mt146806.aspx -->
		<add key="ClientId" value="wordlisttranslator"/>
		<add key="ClientSecret" value="5j9oxYpwtzny93IGHzmZA3tdDbRw5zhu2bAv2jsBPdA="/>

		<!--这里设置从哪种语言翻译到哪种语言。语言代码请参考 https://msdn.microsoft.com/en-us/library/hh456380.aspx 大小写必须正确设置-->
		<add key="FromLanguage" value="en"/>
		<add key="ToLanguage" value="zh-CHS"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_LanguageService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
			 contract="TranslateService.LanguageService" name="BasicHttpBinding_LanguageService" />
		</client>
	</system.serviceModel>
</configuration>